html
    head
    body
        form(method="post", action=`/updateUser?userid=${data.id}`)
            div
                label(for="firstName") First Name:
                input(id="firstName", name="firstName", value=`${data.firstName}`)
            div
                label(for="lastName") Last Name:
                input(id="lastName", name="lastName", value=`${data.lastName}`)
            div
                label(for="email") Email:
                input(id="email", name="email", type="email", value=`${data.email}`)
            div
                label(for="age") Age:
                input(id="age", name="age", value=`${data.age}`)
            div
                label(for="password") Password:
                input(id="password", name="password", type="password", value=`${data.password}`)
            div
                label(for="role") Role:
                input(id="role", name="role", value=`${data.role}`)
            div
                input(id="submit", name="submit", type="submit" value="Save")