html
    head
    link(rel="stylesheet", href="./styles.css")
    script(defer, src="./generalFunc.js")
    body
        form(method="get", action="/")
            button(id="back", type="submit") Back
        table
            tr
                th(class="borderClass") First Name
                th(class="borderClass") Last Name
                th(class="borderClass") Email
                th(class="borderClass") Age
                th(class="borderClass")
            each user in data
                tr
                    td(class="borderClass") #{user.firstName}
                    td(class="borderClass") #{user.lastName}
                    td(class="borderClass") #{user.email}
                    td(class="borderClass") #{user.age}
                    td(class="borderClass")
                        button(type="button", onclick=`goToEdit('${user.id}')`) Edit
                        button(type="button", onclick=`deleteUser('${user.id}')`) Delete